# patches, diffs, merges
*.patch
interdiff.txt
*.orig
*.bak

# PHPStorm
.idea/*

# Common library
VirtueMart-3.x-Acumulus4.x/admin/libraries/*

# Shared files
changelog.txt
LICENTIE.txt
LICENTIE-NL.pdf
README.txt

# Resulting installer files
/*.zip
