# patches, diffs, merges
*.patch
interdiff.txt
*.orig
*.bak
*.old

# PHPStorm
.idea/*

# Common library
acumulus/com_acumulus/admin/libraries/*

# Duplicate files
acumulus/com_acumulus/acumulus.xml
acumulus/com_acumulus/acumulusInstallerScript.php

# Shared files
changelog.txt
license.txt
licentie-nl.pdf
leesmij.txt

# Resulting installer files
/*.zip
acumulus/packages/*
