/*
 * Invoice status overview for hikashop J4.
 */
#acumulus-invoice .options-form .acumulus-links {
    width: calc(100% - 180px);
}

#acumulus-invoice .acumulus-links + .controls {
    margin-left: 180px;
}

#acumulus-invoice .acumulus-links ~ .controls {
    margin-top: 0;
    min-width: 200px;
    max-width: 201px;
}

#acumulus-invoice .acumulus-links ~ .controls button {
    text-align: left;
}
