/*
 * Invoice status overview for hikashop J4.
 */
#acumulus-invoice .options-form .acumulus-links {
    width: calc(100% - 180px);
}

#acumulus-invoice .acumulus-links + .controls {
    margin-left: 180px;
}

#acumulus-invoice .acumulus-links ~ .controls {
    margin-top: 0;
    max-width: 215px;
}
