.icon-acumulus {
  background-image: url(./media/logo-acumulus-16.png);
}

summary {
  cursor: pointer;
  padding: 0;
  margin-bottom: 18px;
  font-size: 19.5px;
  line-height: 36px;
  color: #333;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.description {
  font-style: italic;
}

textarea {
  min-width: 90%;
}

#intro {
  margin-top: 3em;
}

div.control-label {
  max-width: 180px;
}

/*
 * Invoice status overview for both virtuemart and hikashop.
 */
#acumulus-invoice .notice-info {
  color: #3a87ad;
}

#acumulus-invoice .notice-warning {
  color: #c09853;
}

#acumulus-invoice .notice-warning {
}

#acumulus-invoice .notice-error {
  color: #b94a48;
}

#acumulus-invoice .notice-success {
  color: #468847;
}

#acumulus-invoice label.notice-warning {
  font-size: larger;
  font-weight: 900;
}

.acumulus-amount .amount {
  display: block;
  width: 6em;
  text-align: right;
}

.acumulus-amount .amount:nth-child(2) {
  display: inline-block;
}

.acumulus-amount .amount:last-child {
  border-top: 1px solid #444;
}

.acumulus-amount .amount .sign,
.acumulus-amount .amount .currency {
  float: left;
  width: 0.25em;
}

#acumulus-invoice .pdf {
  display: inline-block;
  padding-left: 15px;
  margin: 0.1em 1.5em 0.2em 0;
  background-image: url('./media/icon-pdf.svg');
  background-size: 12px 16px;
  background-repeat: no-repeat;
  background-position: left center;
}
